{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>


    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><strong>Shop</strong></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
          
        </div>

        <div class="navbar-menu" id="main-navbar">
            <div class="navbar-end">
              <a href="{% url "contact" %}" class="navbar-item"><strong>Contact</strong></a>

            </div>
        </div>
    </nav>
    
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
      </section>


    <footer class="footer">
        <h3 class="is-size-4 mb-4"> SHOP</h3>
        <a href="{% url "join_vender" %}" > Become Vendor </a>
    </footer>
  </body>
</html>


