.footer a {
    text-decoration: none;
    display: inline-block;
    color: #444;
}



.custom-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}


.form-field {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


@media (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }
}
